nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid #959595;
}

.brand,
.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2:hover{
    color: #dec129;
    transition: .4s;
}

.links li {
    margin-right: 1rem;
    list-style: none;
}

#add a {
    color: #dec129
}